# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/EasyPass/nbproject/private/
/EasyPass/EasyPass-war/nbproject/private/
/EasyPass/EasyPass-ejb/nbproject/private/
/EasyPass/EasyPass-ejb/build/
/EasyPass/EasyPass-ejb/dist/
/EasyPass/dist/
/EasyPass/build/
/EasyPass/EasyPass-war/dist/
/EasyPass/EasyPass-war/build/
/EasyPass/nbproject/ant-deploy.xml
/EasyPass/nbproject/build-impl.xml
/EasyPass/nbproject/genfiles.properties
/EasyPass/EasyPass-ejb/nbproject/ant-deploy.xml
/EasyPass/EasyPass-ejb/nbproject/build-impl.xml
/EasyPass/EasyPass-ejb/nbproject/genfiles.properties
/EasyPass/EasyPass-war/nbproject/ant-deploy.xml
/EasyPass/EasyPass-war/nbproject/build-impl.xml
/EasyPass/EasyPass-war/nbproject/genfiles.properties
/EasyPass/EasyPass-ejb/setup/glassfish-resources.xml
../EasyPass-ejb/setup/